<h1> Alle Fotos </h1>
<% @photos.each do |photo| %>
<br /> <br />
  <p>
    <strong> Bildtitel: </strong>
    <%= photo.title %>
  </p>

  <% if photo.image_thumbnail %>
    <%= link_to image_tag(photo.image_thumbnail), photo.image if photo.image.attached? %>
  <% end %>
  <br /> <br />

  <%= link_to "Foto anzeigen" %>
  <br />

  <%= button_to "Delete Photo",
  photo_path(photo),
  method: :delete,
  data: { confirm: "Are you sure you want to delete this photo?" },
  class: "btn btn-danger" %>

  <div style="display: flex; gap: 20px; margin-bottom: 20px;">
    <div>
      <p>Color</p>
      <%= image_tag photo.color_variant, alt: "Color version" %>
    </div>
    <div>
      <p>Grayscale</p>
      <%= image_tag photo.grayscale_variant, alt: "Grayscale version" %>
    </div>
  </div>
<% end %>




<!-- <h1>Photo Gallery</h1> -->
<br> <br>
<%= link_to "Upload New Photo", new_photo_path %>

<!-- <hr>

<% @photos.each do |photo| %>
  <div style="display: flex; gap: 20px; margin-bottom: 30px;">
    <div>
      <strong>Color</strong><br>
      <%= image_tag photo.color_variant, alt: "Color image" if photo.image.attached? %>
    </div>
    <div>
      <strong>Grayscale</strong><br>
      <%= image_tag photo.grayscale_variant, alt: "Grayscale image" if photo.image.attached? %>
    </div>
  </div>
<% end %> -->