<h1> Alle Fotos </h1>

<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <br /> <br />
    <div>
      <p>
        <strong> Bildtitel: <%= photo.title %></strong>
      </p>
    </div>
    <div>
      <% if photo.image_thumbnail %>
        <p>
          <%= link_to image_tag(photo.image_thumbnail), photo.image if photo.image.attached? %>
        </p>
    <% end %>
    <br />
    <%= link_to "Foto anzeigen", photo %>
    <br /> <br />

    <%= link_to "Foto bearbeiten", edit_photo_path(photo) %>
    <br /> <br />

    <%= button_to "Delete Photo",
    photo_path(photo),
    method: :delete,
    data: { confirm: "Are you sure you want to delete this photo?" },
    class: "btn btn-danger" %>


  <% end %>
<% else %>
  <h2> Es sind noch keine Fotos hochgeladen </h2>
<% end %>

<br> <br>
<%= link_to "Weiteres Foto hochladen", new_photo_path %>
