<h1>Upload a Photo</h1>

<%= form_with model: @photo, local: true, html: { multipart: true } do |form| %>
  <div class="mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <%= form.submit "Upload", class: "btn btn-primary" %>
<% end %>


<!-- <h1>Upload a New Photo</h1>

<%= form_with model: @photo, local: true, html: { multipart: true } do |form| %>
  <% if @photo.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@photo.errors.count, "error") %> prevented this photo from being saved:</h2>
      <ul>
        <% @photo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :image, "Choose an image file:" %><br>
    <%= form.file_field :image %>
  </div>

  <div style="margin-top: 1em;">
    <%= form.submit "Upload" %>
  </div>
<% end %>

<%= link_to "Back to Gallery", photos_path %>
 -->






 <!-- app/views/photos/new.html.erb -->
<!-- <h1>Upload a Photo</h1>

<%= form_with model: @photo, local: true do |form| %>
  <%= form.label :image %><br>
  <%= form.file_field :image %><br><br>
  <%= form.submit "Upload" %>
<% end %> -->
