<h1><%= @photo.title %></h1>

<%= @photo.image %>

<div class="row">
  <div class="col">
    <h5>Color</h5>
    <%= image_tag @photo.color_variant, class: "img-thumbnail" if @photo.image.attached? %>
  </div>
  <div class="col">
    <h5>Black & White</h5>
    <%= image_tag @photo.grayscale_variant, class: "img-thumbnail" if @photo.image.attached? %>
  </div>
</div>

<div class="mt-4">
  <h5>Histogram (coming soon)</h5>
  <p>This is where we’ll generate and show a histogram of the B/W image.</p>
</div>



<!-- app/views/photos/show.html.erb -->
<!-- <h1>Your Uploaded Photo</h1>

<% if @photo.image.attached? %>
  <p>Original:</p>
  <%= image_tag @photo.image.variant(resize_to_limit: [500, 500]) %>
<% else %>
  <p>No image uploaded.</p>
<% end %> -->






<!-- app/views/photos/show.html.erb -->
<!-- <h1>Image Processing Preview</h1>

<p>Original:</p>
<%= image_tag @photo.image if @photo.image.attached? %>

<p>Grayscale Variant 1:</p>
<%= image_tag @photo.grayscale_variant_1 if @photo.image.attached? %>

<p>Grayscale Variant 2:</p>
<%= image_tag @photo.grayscale_variant_2 if @photo.image.attached? %> -->

